body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


#header {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 5vh;
    background-color: #37373762;
    padding: 10px 30px;
    border-radius: 10px;
    /* overflow:hidden; */
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.596);
    backdrop-filter: blur(8px) saturate(40%) contrast(80%);
    margin: 20px 10vw;
    z-index: 1;
}

#header .right-side {
    display: flex;
    align-items: center;
}


a.nav, div.nav{
    color:rgb(252, 252, 252);
    text-decoration: none;
    margin-right: 5vh;
    font-weight: 400;
}

.dropdown{
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #fafafaf3;
    border-radius: 10px;
    min-width: 100;
    color:rgb(252, 252, 252);
    font-weight: 400;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    overflow: hidden;
    z-index: 2;

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: left;
    text-decoration: none;
    

}

.dropdown-content a:hover {background-color: #f1f1f1c4;}

.dropdown:hover .dropdown-content {
    display: block;
}

.map-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

#map {
    position: relative;
    width: 100%;
    height: 100%;
}


#console {
    position: relative;
    margin: 5vh 20px;
    width: 180px;
    flex-direction: column;
    height: 60vh;
    background-color: #37373762;
    padding: 10px 30px;
    border-radius: 10px;
    /* overflow:hidden; */
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.596);
    backdrop-filter: blur(8px) saturate(40%) contrast(80%);
    z-index: 1;
}

#console h1,
#console div{
    color: white;
    text-align: center;
}
